*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    --title-color: #fff;
    --base-color: #333;
    --base-color-second: #00ff7f;
    --base-color-third: #6ee7b7;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--base-color-third), var(--base-color));
    font-size: 62.5%;
    color: var(--title-color);
    margin-bottom: 2rem;
}
h1{
    color: var(--title-color);
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
}
.keys{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
.key{
    width: 8rem;
    height: 8rem;
    border: 0.2rem solid var(--title-color);
    color: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.key.active{

}
.composer{
    width: 26rem;
    margin-top: 2rem;
}
.composer #input{
    width: 100%;
    outline: none;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
}
.composer button{
    width: 100%;
    height: 4rem;
    background: none;
    border: 0.2rem solid var(--title-color);
    color: var(--title-color);
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.composer button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
footer{
    margin-top: 2rem;
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}